@using PagedList.Mvc;
@using PagedList;
@using InventoryManagerment.Models.EF;
@using InventoryManagerment.Common;
@model InventoryManagerment.ViewModel.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">today</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize"></p>
                    <h5 class="mb-0">Hôm Nay</h5>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng phiếu xuất: <span class="text-success text-sm font-weight-bolder">@Model.soluongphieuxuathomnay</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng phiếu nhập: <span class="text-success text-sm font-weight-bolder">@Model.soluongphieunhaphomnay</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng doanh thu: <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.doanhthuhomnay.ToString()) VNĐ</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng tiền nhập hàng: <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.tongchihomnay.ToString()) VNĐ</span></p>
            </div>
            <hr class="dark horizontal my-0">
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">event</i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize"></p>
                    <h5 class="mb-0">Hôm Qua</h5>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng phiếu xuất: <span class="text-success text-sm font-weight-bolder">@Model.soluongphieuxuathomqua</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng phiếu nhập: <span class="text-success text-sm font-weight-bolder">@Model.soluongphieunhaphomqua</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng doanh thu: <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.doanhthuhomqua.ToString()) VNĐ</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng tiền nhập hàng: <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.tongchihomqua.ToString()) VNĐ</span></p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">date_range</i>
                </div>
                <div class="text-end pt-1">
                    <h5 class="mb-0">Tuần Này</h5>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng phiếu xuất: <span class="text-success text-sm font-weight-bolder">@Model.soluongphieuxuattrongtuan</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng phiếu nhập: <span class="text-success text-sm font-weight-bolder">@Model.soluongphieunhaptrongtuan</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng doanh thu: <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.doanhthutuannay.ToString()) VNĐ</span></p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">Tổng tiền nhập hàng: <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.tongchituannay.ToString()) VNĐ</span></p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">show_chart</i>
                </div>
                <div class="text-end pt-1">
                    <h5 class="mb-0">Biến Động</h5>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                @if (Model.sosanhdoanhthutheongay > 0)
                {
                    <p class="mb-0">Tổng doanh thu: <span class="text-success text-sm font-weight-bolder">+@InventoryManagerment.Common.Functions.NumberToMoney(Model.sosanhdoanhthutheongay.ToString()) VNĐ</span> so với ngày hôm qua</p>
                }
                else
                {
                    <p class="mb-0">Tổng doanh thu: <span class="text-danger text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.sosanhdoanhthutheongay.ToString()) VNĐ</span> so với ngày hôm qua</p>
                }
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                @if (Model.sosanhchitieutheongay > 0)
                {
                    <p class="mb-0">Tổng tiền nhập hàng: nhiều hơn <span class="text-danger text-sm font-weight-bolder">+@InventoryManagerment.Common.Functions.NumberToMoney(Model.sosanhchitieutheongay.ToString()) VNĐ</span> so với ngày hôm qua</p>
                }
                else
                {
                    <p class="mb-0">Tổng tiền nhập hàng: ít hơn <span class="text-success text-sm font-weight-bolder">@InventoryManagerment.Common.Functions.NumberToMoney(Model.sosanhchitieutheongay.ToString()) VNĐ</span> so với ngày hôm qua</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize"></p>
                    <h5 class="mb-0 text-normal"><i class="material-icons me-2 text-normal">bar_chart</i><b>Biểu đồ doanh thu năm @DateTime.Now.Year</b></h5>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-body p-3">
                <div class="chart text-center">
                    <button id="loading-chart" class="btn btn-primary btn-sm mb-2" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <canvas id="myChart" class="chart-canvas" style="max-height:300px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsFooter{
    <script>
        $(document).ready(function () {

            document.getElementById("loading-chart").style.display = "block";
            $.get('/Home/GetDataChart/', {}, function (data) {
                document.getElementById("loading-chart").style.display = "none";
                updateChart(data)
            });   
        });   
        function updateChart(data) {
            var xValues = ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"];
            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        data: data.chitieutheothang,
                        borderColor: "red",
                        label: "Tổng tiền nhập hàng:",
                        fill: false
                    }, {
                        data: data.loinhuantheothang,
                        label: "Lợi nhuận",
                        borderColor: "green",
                        fill: true
                    }, {
                        data: data.doanhthutheothang,
                        label: "Doanh thu",
                        borderColor: "blue",
                        fill: false
                    }]
                },
                options: {
                    legend: { display: true }
                }
            })
        }
    </script>
}

